*.html
**/.idea/*
.settings/*
/*/.settings/*
**/test-output/*/
/*/target/*
**/target/
**/*.iml
/*/.metadata/*
**/screenshots/
**/logs/

.classpath
.loadpath
.metadata

**/debug/
**/debug.java
**/Debug.java
**/src/test/resources/config/local.properties
**/src/test/resources/config/localExample.properties
